@charset "UTF-8";

body {
    background-color: rgb(202, 8, 170)
      ;
    color: white;
  }
  
  p{
    font-size: 40px;
      font-weight: bold;
  }
  button{
    background-color: black;
    color: white;
    width:100px;
    position:absolute;
  }
  
  .hidden{
    display:none;
  }
  
  #move{
    left: 200px;
  }
  
  #change :hover {
    cursor:pointer;
  }